@model IEnumerable<FindMyPet.Models.Animais>

@{
    ViewData["Title"] = "Animal";
}

<p>
    <a asp-action="Create" class="linkprincipal">Adicionar Novo:</a>
</p>

<table class="table tb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnimalNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalRaca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalCor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalSexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalObservacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalDtDesaparecimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalRaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalCor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalSexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalObservacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalDtDesaparecimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuarioNome)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="link">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="link">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
